<div class="h-screen flex items-start justify-center overflow-hidden p-4">
  <div class="user-card mt-2">
    <div class="user-card-header">
      <div class="avatar-container">
        <mat-icon>person</mat-icon>
      </div>
      <div>
        <p class="user-name">
          {{ student.name }}
          <span class="px-[2px]"></span>
          {{ student.lastName }}
        </p>
      </div>
    </div>

    <div class="user-card-body">
      <p class="user-email">
        📧 Email: <span>{{ student.email }}</span>
      </p>

      <div class="user-actions">
        <div class="action-item" (click)="forgotPassword()">
          <span>⚙️ Cambiar contrasenya</span>
          <span>›</span>
        </div>

        <div class="action-item logout" (click)="logout()">
          <span>🔴 Tancar sessió</span>
          <span>›</span>
        </div>
      </div>
    </div>
  </div>
</div>
